<h3>Фильтр</h3>
<div class="row">
  <div class="col-3">
    <input type="text" class="form-control" placeholder="Имя"
           (input) = 'onFilterPersonsList()'
           [(ngModel)]="searching.firstName">
  </div>
  <div class="col-3">
    <input type="text" class="form-control" placeholder="Фамилия"
           (input) = 'onFilterPersonsList()'
           [(ngModel)]="searching.lastName">
  </div>
</div>
<hr>
