<div class="container">
  <hr>
  <div class="row">
    <h3>Фильтр</h3>
  </div>
  <app-person-filter
    (filterPersonsList)='onFilterPersonsList($event)'
  >
  </app-person-filter>

  <hr>

  <div class="row">
    <h3>Список</h3>
  </div>
  <app-person-view
    *ngFor="let person of (persons | filterPersons: searching)"
    [inPerson]="person"
    (removePerson)="onRemovePerson($event)"
  >
  </app-person-view>

  <hr>
  <div class="row">
    <h3>Добавление</h3>
  </div>
  <app-person-add
    (addPerson)="onAddPerson($event)"
  >
  </app-person-add>
</div>
