<div class="row mt-2">
  <div class="col-2">{{inPerson.id}}</div>
  <div class="col-6">
    <form [formGroup]="editPersonForm" class="row">
      <div class="col-4">
        <span *ngIf="!editActive">{{inPerson.firstName}}</span>
        <input *ngIf="editActive"
               class="form-control"
               type="text"
               formControlName="firstName"
        >
      </div>
      <div class="col-4">
        <span *ngIf="!editActive">{{inPerson.lastName}}</span>
        <input *ngIf="editActive"
               class="form-control"
               type="text"
               formControlName="lastName"
        >
      </div>
      <div class="col-4">
        <span *ngIf="!editActive">{{inPerson.tel}}</span>
        <input *ngIf="editActive"
               class="form-control"
               type="text"
               formControlName="tel"
               [dropSpecialCharacters]="false" prefix="+7" mask="(000) 000-00-00" [showMaskTyped]="true" [validation]="true"
        >
      </div>
    </form>
  </div>
  <div class="col-4">
    <div class="row" *ngIf="!editActive">
      <div class="col-6">
        <button class="btn"
                (click)="onEditPerson(true)"
          ><img src="../../assets/1.png" alt="" width="20px" height="20px">
        </button>
      </div>
      <div class="col-6">
        <button class="btn"
                (click)="onRemovePerson(inPerson.id)"
        >
        <img src="../../assets/2.png" alt="" width="20px" height="20px">
        </button>
      </div>
    </div>
    <div class="row" *ngIf="editActive">
      <div class="col-6">
        <button class="btn btn-success"
                (click)="onEditPerson(false)"
                [disabled]="editPersonForm.invalid"
        >Сохранить
        </button>
      </div>
      <div class="col-6">
        <button class="btn btn-danger"
                (click)="editActive = false"
        >
          Отмена
        </button>
      </div>
    </div>
  </div>
</div>
