<form [formGroup]="addPersonForm" (ngSubmit)="onAddPerson()">
  <div class="row">
    <div class="col-12">
      <input type="text" class="form-control" formControlName="firstName" placeholder="Имя">
    </div>
    <div class="col-12 mt-2">
      <input type="text" class="form-control" formControlName="lastName" placeholder="Фамилия">
    </div>
    <div class="col-12 mt-2">
      <input type="text" class="form-control" formControlName="tel" placeholder="Телефон"
             [dropSpecialCharacters]="false" prefix="+7" mask=" (000) 000-00-00" [showMaskTyped]="true"
      >
    </div>
    <div class="col-12 mt-2">
      <button class="btn btn-primary"
              [disabled]="addPersonForm.invalid"
      >
        Сохранить
      </button>
    </div>
  </div>
</form>
